{% extends "base.html"%}
{% load humanize %} {# lets us add a comma to the salary #}


{% block title %}UNL Facuty Salaries{% endblock %}


{% block header %}Details{% endblock %}

{% block content %}

<div class="check">
<div class="checkhead">
<p class="headtext"><strong>NU Board of Regents</strong><br/>
<strong>C/O</strong> Your Tax Dollars<br/>
<em>3835 Holdrege Street<br/>
Lincoln, Nebraska 68583</em></p>
</div>

<div class="checkdate">
<p class="cdate">April 29, 2014</p>
</div>

{% with item=name|first %}
<div class="checkpay"> 
<p class="payee">{{ item.first_name }} {{ item.last_name }}</p>
</div>

<div class="checkamount">
<p class="amount">${{ item.salary|intcomma }}</p>
</div>

<br/>
<br/>

{% for item in name %}
<div class="checkmemo">
<p class="memo">{{ item.title }} {% endfor %}</p>
</div>

<div class="checksign">
<p class="signature">Harvey Perlman</p>
</div>

</div>



{% endwith %}
{% endblock %}
